<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.promote.project.promote.mapper.ConsumerInfoMapper">

    <resultMap type="ConsumerInfo" id="ConsumerInfoResult">
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="birthday"    column="birthday"    />
        <result property="consumerStat"    column="consumer_stat"    />
        <result property="couponType"    column="coupon_type"    />
        <result property="couponPrintType"    column="coupon_print_type"    />
        <result property="printCode"    column="print_code"    />
        <result property="hostelId"    column="hostel_id"    />
        <result property="issueDate"    column="issue_date"    />
        <result property="receiveDate"    column="receive_date"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectConsumerInfoVo">
        select user_id, name, birthday, consumer_stat, coupon_type, coupon_print_type, print_code, hostel_id, issue_date, receive_date, update_time, create_time from pro_consumer_info
    </sql>

    <select id="selectConsumerInfoList" parameterType="ConsumerInfo" resultMap="ConsumerInfoResult">
        <include refid="selectConsumerInfoVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="birthday != null  and birthday != ''"> and birthday = #{birthday}</if>
            <if test="consumerStat != null  and consumerStat != ''"> and consumer_stat = #{consumerStat}</if>
            <if test="couponType != null  and couponType != ''"> and coupon_type = #{couponType}</if>
            <if test="couponPrintType != null  and couponPrintType != ''"> and coupon_print_type = #{couponPrintType}</if>
            <if test="printCode != null  and printCode != ''"> and print_code = #{printCode}</if>
            <if test="hostelId != null "> and hostel_id = #{hostelId}</if>
            <if test="issueDate != null "> and issue_date = #{issueDate}</if>
            <if test="receiveDate != null "> and receive_date = #{receiveDate}</if>
        </where>
    </select>

    <select id="selectConsumerInfoById" parameterType="Long" resultMap="ConsumerInfoResult">
        <include refid="selectConsumerInfoVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertConsumerInfo" parameterType="ConsumerInfo">
        insert into pro_consumer_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="birthday != null  and birthday != ''">birthday,</if>
            <if test="consumerStat != null  and consumerStat != ''">consumer_stat,</if>
            <if test="couponType != null  and couponType != ''">coupon_type,</if>
            <if test="couponPrintType != null  and couponPrintType != ''">coupon_print_type,</if>
            <if test="printCode != null  and printCode != ''">print_code,</if>
            <if test="hostelId != null ">hostel_id,</if>
            <if test="issueDate != null ">issue_date,</if>
            <if test="receiveDate != null ">receive_date,</if>
            <if test="updateTime != null ">update_time,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="birthday != null  and birthday != ''">#{birthday},</if>
            <if test="consumerStat != null  and consumerStat != ''">#{consumerStat},</if>
            <if test="couponType != null  and couponType != ''">#{couponType},</if>
            <if test="couponPrintType != null  and couponPrintType != ''">#{couponPrintType},</if>
            <if test="printCode != null  and printCode != ''">#{printCode},</if>
            <if test="hostelId != null ">#{hostelId},</if>
            <if test="issueDate != null ">#{issueDate},</if>
            <if test="receiveDate != null ">#{receiveDate},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            sysdate
        </trim>
    </insert>

    <update id="updateConsumerInfo" parameterType="ConsumerInfo">
        update pro_consumer_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="birthday != null  and birthday != ''">birthday = #{birthday},</if>
            <if test="consumerStat != null  and consumerStat != ''">consumer_stat = #{consumerStat},</if>
            <if test="couponType != null  and couponType != ''">coupon_type = #{couponType},</if>
            <if test="couponPrintType != null  and couponPrintType != ''">coupon_print_type = #{couponPrintType},</if>
            <if test="printCode != null  and printCode != ''">print_code = #{printCode},</if>
            <if test="hostelId != null ">hostel_id = #{hostelId},</if>
            <if test="issueDate != null ">issue_date = #{issueDate},</if>
            <if test="receiveDate != null ">receive_date = #{receiveDate},</if>
            update_time = sysdate
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteConsumerInfoById" parameterType="Long">
        delete from pro_consumer_info where user_id = #{userId}
    </delete>

    <delete id="deleteConsumerInfoByIds" parameterType="String">
        delete from pro_consumer_info where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

</mapper>