<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.promote.project.promote.mapper.ConsumerInfoMapper">

    <resultMap type="ConsumerInfo" id="ConsumerInfoResult">
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="birthday"    column="birthday"    />
        <result property="consumerStat"    column="consumer_stat"    />
        <result property="couponType"    column="coupon_type"    />
        <result property="printCode"    column="print_code"    />
        <result property="hotelId"    column="hotel_id"    />
        <result property="issueDate"    column="issue_date"    />
        <result property="receiveDate"    column="receive_date"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <resultMap type="java.util.LinkedHashMap" id="ConsumerInfoByUnameIdentity">
        <result property="userId"    column="user_id"    />
        <result property="username"    column="username"    />
        <result property="identity"    column="identity"    />
        <result property="name"    column="name"    />
        <result property="birthday"    column="birthday"    />
        <result property="email"    column="email"    />
        <result property="mobile"    column="mobile"    />
    </resultMap>

    <resultMap type="java.util.LinkedHashMap" id="ConsumerInfoById">
        <result property="applyHotel"    column="name"    />
        <result property="applyTime"    column="Issue_date"    />
        <result property="couponType"    column="coupon_type"    />
        <result property="printCode"    column="print_code"    />
        <result property="printTime"    column="receive_date"    />
    </resultMap>

    <sql id="selectConsumerInfoVo">
        select user_id, name, birthday, consumer_stat, coupon_type, print_code, hotel_id, issue_date, receive_date, update_time, create_time from pro_consumer_info
    </sql>

    <select id="selectConsumerInfoList" parameterType="ConsumerInfo" resultMap="ConsumerInfoResult">
        <include refid="selectConsumerInfoVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="birthday != null  and birthday != ''"> and birthday = #{birthday}</if>
            <if test="consumerStat != null  and consumerStat != ''"> and consumer_stat = #{consumerStat}</if>
            <if test="couponType != null  and couponType != ''"> and coupon_type = #{couponType}</if>
            <if test="printCode != null  and printCode != ''"> and print_code = #{printCode}</if>
            <if test="hotelId != null "> and hotel_id = #{hotelId}</if>
            <if test="issueDate != null "> and issue_date = #{issueDate}</if>
            <if test="receiveDate != null "> and receive_date = #{receiveDate}</if>
        </where>
    </select>

    <select id="selectConsumerInfoById" parameterType="Long" resultMap="ConsumerInfoResult">
        <include refid="selectConsumerInfoVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertConsumerInfo" parameterType="ConsumerInfo">
        insert into pro_consumer_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="birthday != null">birthday,</if>
            <if test="consumerStat != null  and consumerStat != ''">consumer_stat,</if>
            <if test="couponType != null  and couponType != ''">coupon_type,</if>
            <if test="printCode != null  and printCode != ''">print_code,</if>
            <if test="hotelId != null ">hotel_id,</if>
            <if test="issueDate != null ">issue_date,</if>
            <if test="receiveDate != null ">receive_date,</if>
            <if test="updateTime != null ">update_time,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="birthday != null">#{birthday, jdbcType=DATE},</if>
            <if test="consumerStat != null  and consumerStat != ''">#{consumerStat},</if>
            <if test="couponType != null  and couponType != ''">#{couponType},</if>
            <if test="printCode != null  and printCode != ''">#{printCode},</if>
            <if test="hotelId != null ">#{hotelId},</if>
            <if test="issueDate != null ">#{issueDate},</if>
            <if test="receiveDate != null ">#{receiveDate},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            sysdate
        </trim>
    </insert>

    <update id="updateConsumerInfo" parameterType="ConsumerInfo">
        update pro_consumer_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="birthday != null  and birthday != ''">birthday = #{birthday},</if>
            <if test="consumerStat != null  and consumerStat != ''">consumer_stat = #{consumerStat},</if>
            <if test="couponType != null  and couponType != ''">coupon_type = #{couponType},</if>
            <if test="printCode != null  and printCode != ''">print_code = #{printCode},</if>
            <if test="hotelId != null ">hotel_id = #{hotelId},</if>
            <if test="issueDate != null ">issue_date = #{issueDate},</if>
            <if test="receiveDate != null ">receive_date = #{receiveDate},</if>
            update_time = sysdate
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteConsumerInfoById" parameterType="Long">
        delete from pro_consumer_info where user_id = #{userId}
    </delete>

    <delete id="deleteConsumerInfoByIds" parameterType="String">
        delete from pro_consumer_info where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="getByUnameIdentity" resultMap="ConsumerInfoByUnameIdentity">
        select user.user_id,user.username,user.identity,consumer.name,
            TO_CHAR(TIMESTAMP(consumer.birthday), 'YYYY/MM/DD HH:MI:SS') as birthday,
            user.email,user.mobile
        from pro_consumer_info consumer inner join sys_user user
        on consumer.user_id = user.user_id
        <where>
            <if test="username != null  and username != ''"> and user.username = #{username}</if>
            <if test="identity != null  and identity != ''"> and user.identity = #{identity}</if>
        </where>
    </select>

    <select id="getByIdentity" parameterType="String" resultMap="ConsumerInfoByUnameIdentity">
        select user.user_id,user.username,user.identity,consumer.name,
            TO_CHAR(TIMESTAMP(consumer.birthday), 'YYYY/MM/DD HH:MI:SS') as birthday,
            user.email,user.mobile
        from pro_consumer_info consumer inner join sys_user user
        on consumer.user_id = user.user_id
        <where>
            <if test="identity != null  and identity != ''"> and user.identity = #{identity}</if>
        </where>
    </select>

    <select id="getByUsername" parameterType="String" resultMap="ConsumerInfoByUnameIdentity">
        select user.user_id,user.username,user.identity,consumer.name,
        TO_CHAR(TIMESTAMP(consumer.birthday), 'YYYY/MM/DD HH:MI:SS') as birthday,
            user.email,user.mobile
        from pro_consumer_info consumer inner join sys_user user
        on consumer.user_id = user.user_id
        <where>
            <if test="username != null  and username != ''"> and user.username = #{username}</if>
        </where>
    </select>

    <select id="getConsumerInfoById" parameterType="Long" resultMap="ConsumerInfoById">
        select hotel.name,consumer.Issue_date,consumer.coupon_type,consumer.print_code,consumer.receive_date
        from PRECMGR.pro_consumer_info consumer inner join PRECMGR.pro_hotel_info hotel
        on consumer.hotel_id = hotel.user_id
        where consumer.user_id= #{userId}
    </select>
</mapper>