<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.promote.project.promote.mapper.CouponMapper">

    <resultMap type="Coupon" id="CouponResult">
        <result property="id"    column="id"    />
        <result property="fundType"    column="fund_type"    />
        <result property="userId"    column="user_id"    />
        <result property="isUsed"    column="is_used"    />
        <result property="storeType"    column="store_type"    />
        <result property="amount"    column="amount"    />
        <result property="noticeTime"    column="notice_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <resultMap type="java.util.Map" id="getPrintCouponResult">
        <result property="couponId"    column="couponId"  />
        <result property="amount"    column="amount"  />
        <result property="storeType"    column="storeType"  />
    </resultMap>

    <sql id="selectCouponVo">
        select id, fund_type, user_id, is_used, store_type, amount, notice_time, create_time from pro_coupon
    </sql>

    <select id="selectCouponList" parameterType="Coupon" resultMap="CouponResult">
        <include refid="selectCouponVo"/>
        <where>
            <if test="fundType != null  and fundType != ''"> and fund_type = #{fundType}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="isUsed != null  and isUsed != ''"> and is_used = #{isUsed}</if>
            <if test="storeType != null  and storeType != ''"> and store_type = #{storeType}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="noticeTime != null "> and notice_time = #{noticeTime}</if>
        </where>
    </select>

    <select id="selectCouponById" parameterType="String" resultMap="CouponResult">
        <include refid="selectCouponVo"/>
        where id = #{id}
    </select>

    <insert id="insertCoupon" parameterType="Coupon">
        insert into pro_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="fundType != null  and fundType != ''">fund_type,</if>
            <if test="userId != null ">user_id,</if>
            <if test="isUsed != null  and isUsed != ''">is_used,</if>
            <if test="storeType != null  and storeType != ''">store_type,</if>
            <if test="amount != null ">amount,</if>
            <if test="noticeTime != null ">notice_time,</if>
            <if test="createTime != null ">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="fundType != null  and fundType != ''">#{fundType},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="isUsed != null  and isUsed != ''">#{isUsed},</if>
            <if test="storeType != null  and storeType != ''">#{storeType},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="noticeTime != null ">#{noticeTime},</if>
            <if test="createTime != null ">#{createTime},</if>
        </trim>
    </insert>

    <insert id="insertCouponList" parameterType="java.util.List">
        insert into pro_coupon (id, fund_type, user_id, is_used,
            store_type, amount, create_time) values
        <foreach item="item" collection="list" separator=",">
            (#{item.id}, #{item.fundType}, #{item.userId}, #{item.isUsed},
            #{item.storeType},#{item.amount},sysdate)
        </foreach>
    </insert>

    <update id="updateCoupon" parameterType="Coupon">
        update pro_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="fundType != null  and fundType != ''">fund_type = #{fundType},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="isUsed != null  and isUsed != ''">is_used = #{isUsed},</if>
            <if test="storeType != null  and storeType != ''">store_type = #{storeType},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="noticeTime != null ">notice_time = #{noticeTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCouponById" parameterType="String">
        delete from pro_coupon where id = #{id}
    </delete>

    <delete id="deleteCouponByIds" parameterType="String">
        delete from pro_coupon where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getConsumerCoupon" resultMap="CouponResult">
        <include refid="selectCouponVo"/>
        where user_id = #{userId} and is_used = #{isUsed} and
        store_type in
        <foreach item="type" collection="storeTypes" open="(" separator="," close=")">
            #{type}
        </foreach>
    </select>

    <select id="overviewCoupons" parameterType="Long" resultMap="CouponResult">
        <include refid="selectCouponVo"/>
        where user_id = #{userId}
    </select>

    <select id="getPrintCoupon"  resultMap="getPrintCouponResult">
        SELECT A.amount, A.store_Type, D.coupon_id
        FROM PRO_COUPON A
        INNER JOIN pro_consumer_info B ON A.USER_ID = B.USER_ID
        INNER JOIN SYS_USER C ON A.USER_ID = C.USER_ID
        INNER JOIN pro_coupon_consume D ON B.user_id = D.consumer_id
        WHERE C.IDENTITY like #{indentity}
            AND B.print_code = #{printCode}
    </select>

</mapper>