<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.promote.project.promote.mapper.HotelInfoMapper">

    <resultMap type="HotelInfo" id="HotelInfoResult">
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="address"    column="address"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="isSupportCoupon"    column="is_support_coupon"    />
        <result property="agreeTime"    column="agree_time"    />
        <result property="isAgreeTerms"    column="is_agree_terms"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <resultMap type="java.util.LinkedHashMap" id="HotelInfoByUnameIdentity">
        <result property="userId"    column="user_id"    />
        <result property="username"    column="username"    />
        <result property="businessNo"    column="identity"    />
        <result property="name"    column="name"    />
        <result property="address"    column="address"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
    </resultMap>

    <sql id="selectHotelInfoVo">
        select user_id, name, address, latitude, longitude, is_support_coupon, agree_time, is_agree_terms, update_time, create_time from precmgr.pro_hotel_info
    </sql>

    <select id="selectHotelInfoList" parameterType="HotelInfo" resultMap="HotelInfoResult">
        <include refid="selectHotelInfoVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="isSupportCoupon != null  and isSupportCoupon != ''"> and is_support_coupon = #{isSupportCoupon}</if>
            <if test="agreeTime != null "> and agree_time = #{agreeTime}</if>
            <if test="isAgreeTerms != null  and isAgreeTerms != ''"> and is_agree_terms = #{isAgreeTerms}</if>
        </where>
    </select>

    <select id="selectHotelInfoById" parameterType="Long" resultMap="HotelInfoResult">
        <include refid="selectHotelInfoVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertHotelInfo" parameterType="HotelInfo">
        insert into pro_hotel_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="isSupportCoupon != null  and isSupportCoupon != ''">is_support_coupon,</if>
            <if test="agreeTime != null ">agree_time,</if>
            <if test="isAgreeTerms != null  and isAgreeTerms != ''">is_agree_terms,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="latitude != null ">latitude,</if>
            <if test="longitude != null ">longitude,</if>
            <if test="updateTime != null ">update_time,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="isSupportCoupon != null  and isSupportCoupon != ''">#{isSupportCoupon},</if>
            <if test="agreeTime != null ">#{agreeTime},</if>
            <if test="isAgreeTerms != null  and isAgreeTerms != ''">#{isAgreeTerms},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="latitude != null ">#{latitude},</if>
            <if test="longitude != null ">#{longitude},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            sysdate
        </trim>
    </insert>

    <update id="updateHotelInfo" parameterType="HotelInfo">
        update pro_hotel_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="latitude != null ">latitude = #{latitude},</if>
            <if test="longitude != null ">longitude = #{longitude},</if>
            <if test="isSupportCoupon != null  and isSupportCoupon != ''">is_support_coupon = #{isSupportCoupon},</if>
            <if test="agreeTime != null ">agree_time = #{agreeTime},</if>
            <if test="isAgreeTerms != null  and isAgreeTerms != ''">is_agree_terms = #{isAgreeTerms},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteHotelInfoById" parameterType="Long">
        delete from pro_hotel_info where user_id = #{userId}
    </delete>

    <delete id="deleteHotelInfoByIds" parameterType="String">
        delete from pro_hotel_info where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <select id="getByUnameIdentity" resultMap="HotelInfoByUnameIdentity">
        select hotel.user_id,user.username,user.identity,hotel.name,hotel.address,hotel.latitude,hotel.longitude
        from pro_hotel_info hotel inner join sys_user user
        on hotel.user_id = user.user_id
        <where>
            <if test="username != null  and username != ''"> and user.username = #{username}</if>
            <if test="identity != null and identity != ''"> and user.identity = #{identity}</if>
        </where>
    </select>
</mapper>