<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.promote.project.promote.mapper.ProWhitelistMapper">

    <resultMap type="ProWhitelist" id="ProWhitelistResult">
        <result property="id" column="id"/>
        <result property="owner" column="owner"/>
        <result property="name" column="name"/>
        <result property="taxNo" column="tax_no"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="address" column="address"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="email" column="email"/>
        <result property="isAgreeTerms" column="is_agree_terms"/>
        <result property="isRegisted" column="is_registed"/>
        <result property="type" column="type"/>
        <result property="isNMarket" column="is_n_market"/>
        <result property="isTMarket" column="is_t_market"/>
        <result property="isFoodbeverage" column="is_foodbeverage"/>
        <result property="isCulture" column="is_culture"/>
        <result property="isSightseeing" column="is_sightseeing"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="storeNameMk" column="store_name_mk"/>
    </resultMap>

    <sql id="selectProWhitelistVo">
        select id, owner, name, tax_no, username, password, address, latitude, longitude, phonenumber, email, is_agree_terms, is_registed, type, is_n_market, is_t_market, is_foodbeverage, is_culture, is_sightseeing, update_time, create_time, '' as store_name_mk from pro_whitelist
    </sql>

    <select id="selectProWhitelistList" parameterType="ProWhitelist" resultMap="ProWhitelistResult">
        <include refid="selectProWhitelistVo"/>
        <where>
            <if test="owner != null  and owner != ''">and owner = #{owner}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="taxNo != null  and taxNo != ''">and tax_no = #{taxNo}</if>
            <if test="username != null  and username != ''">and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''">and password = #{password}</if>
            <if test="address != null  and address != ''">and address = #{address}</if>
            <if test="phonenumber != null  and phonenumber != ''">and phonenumber = #{phonenumber}</if>
            <if test="email != null  and email != ''">and email = #{email}</if>
            <if test="type != null  and type != ''">and type = #{type}</if>
            <if test="isNMarket != null  and isNMarket != ''">and is_n_market = #{isNMarket}</if>
            <if test="isTMarket != null  and isTMarket != ''">and is_t_market = #{isTMarket}</if>
            <if test="isFoodbeverage != null  and isFoodbeverage != ''">and is_foodbeverage = #{isFoodbeverage}</if>
            <if test="isCulture != null  and isCulture != ''">and is_culture = #{isCulture}</if>
            <if test="isSightseeing != null  and isSightseeing != ''">and is_sightseeing = #{isSightseeing}</if>
        </where>
    </select>

    <select id="selectProWhitelistById" parameterType="String" resultMap="ProWhitelistResult">
        <include refid="selectProWhitelistVo"/>
        where id = #{id}
    </select>

    <select id="selectProWhitelistByUsernameAndPwd" resultMap="ProWhitelistResult">
        <include refid="selectProWhitelistVo"/>
        where username = #{username} and password = #{password}
    </select>

    <insert id="insertProWhitelist" parameterType="ProWhitelist">
        insert into pro_whitelist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="owner != null  and owner != ''">owner,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="taxNo != null  and taxNo != ''">tax_no,</if>
            <if test="username != null  and username != ''">username,</if>
            <if test="password != null  and password != ''">password,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="latitude != null">latitude,</if>
            <if test="longitude != null">longitude,</if>
            <if test="phonenumber != null  and phonenumber != ''">phonenumber,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="isNMarket != null  and isNMarket != ''">is_n_market,</if>
            <if test="isTMarket != null  and isTMarket != ''">is_t_market,</if>
            <if test="isFoodbeverage != null  and isFoodbeverage != ''">is_foodbeverage,</if>
            <if test="isCulture != null  and isCulture != ''">is_culture,</if>
            <if test="isSightseeing != null  and isSightseeing != ''">is_sightseeing,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="createTime != null ">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="owner != null  and owner != ''">#{owner},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="taxNo != null  and taxNo != ''">#{taxNo},</if>
            <if test="username != null  and username != ''">#{username},</if>
            <if test="password != null  and password != ''">#{password},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="phonenumber != null  and phonenumber != ''">#{phonenumber},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="isNMarket != null  and isNMarket != ''">#{isNMarket},</if>
            <if test="isTMarket != null  and isTMarket != ''">#{isTMarket},</if>
            <if test="isFoodbeverage != null  and isFoodbeverage != ''">#{isFoodbeverage},</if>
            <if test="isCulture != null  and isCulture != ''">#{isCulture},</if>
            <if test="isSightseeing != null  and isSightseeing != ''">#{isSightseeing},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="createTime != null ">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateProWhitelist" parameterType="ProWhitelist">
        update pro_whitelist
        <trim prefix="SET" suffixOverrides=",">
            <if test="owner != null  and owner != ''">owner = #{owner},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="taxNo != null  and taxNo != ''">tax_no = #{taxNo},</if>
            <if test="username != null  and username != ''">username = #{username},</if>
            <if test="password != null  and password != ''">password = #{password},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="phonenumber != null  and phonenumber != ''">phonenumber = #{phonenumber},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="isAgreeTerms != null and isAgreeTerms != ''">is_agree_terms = #{isAgreeTerms},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="isRegisted != null  and isRegisted != ''">is_registed = #{isRegisted},</if>
            <if test="isNMarket != null  and isNMarket != ''">is_n_market = #{isNMarket},</if>
            <if test="isTMarket != null  and isTMarket != ''">is_t_market = #{isTMarket},</if>
            <if test="isFoodbeverage != null  and isFoodbeverage != ''">is_foodbeverage = #{isFoodbeverage},</if>
            <if test="isCulture != null  and isCulture != ''">is_culture = #{isCulture},</if>
            <if test="isSightseeing != null  and isSightseeing != ''">is_sightseeing = #{isSightseeing},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProWhitelistById" parameterType="Long">
        delete from pro_whitelist where id = #{id}
    </delete>

    <delete id="deleteProWhitelistByIds" parameterType="String">
        delete from pro_whitelist where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectProWhitelistByIdType" resultMap="ProWhitelistResult">
        <include refid="selectProWhitelistVo"/>
        where id = #{id} and type = #{type}
    </select>

    <select id="selectProWhitelistByTaxNo" parameterType="String" resultMap="ProWhitelistResult">
        <include refid="selectProWhitelistVo"/>
        where tax_no = #{taxNo}
    </select>

    <select id="getByTypeTaxNo" resultMap="resultMap">
        <include refid="selectProWhitelistVo"/>
        where type= #{type} and tax_no = #{taxNo}
    </select>
</mapper>