<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.promote.project.promote.mapper.StoreInfoMapper">

    <resultMap type="StoreInfo" id="StoreInfoResult">
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="bankAccount"    column="bank_account"    />
        <result property="bankAchCode"    column="bank_ach_code"    />
        <result property="address"    column="address"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="isAgreeTerms"    column="is_agree_terms"    />
        <result property="agreeTime"    column="agree_time"    />
        <result property="status"    column="status"    />
        <result property="pwNeedReset"    column="pw_need_reset"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectStoreInfoVo">
        select user_id, name, bank_account, bank_ach_code, address, latitude, longitude, is_agree_terms, agree_time, status, pw_need_reset, update_time, create_time from pro_store_info
    </sql>

    <select id="selectStoreInfoList" parameterType="StoreInfo" resultMap="StoreInfoResult">
        <include refid="selectStoreInfoVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="bankAccount != null  and bankAccount != ''"> and bank_account = #{bankAccount}</if>
            <if test="bankAchCode != null  and bankAchCode != ''"> and bank_ach_code = #{bankAchCode}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="isAgreeTerms != null  and isAgreeTerms != ''"> and is_agree_terms = #{isAgreeTerms}</if>
            <if test="agreeTime != null "> and agree_time = #{agreeTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="pwNeedReset != null  and pwNeedReset != ''"> and pw_need_reset = #{pwNeedReset}</if>
        </where>
    </select>

    <select id="selectStoreInfoById" parameterType="Long" resultMap="StoreInfoResult">
        <include refid="selectStoreInfoVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertStoreInfo" parameterType="StoreInfo">
        insert into pro_store_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="bankAccount != null  and bankAccount != ''">bank_account,</if>
            <if test="bankAchCode != null  and bankAchCode != ''">bank_ach_code,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="latitude != null ">latitude,</if>
            <if test="longitude != null ">longitude,</if>
            <if test="isAgreeTerms != null  and isAgreeTerms != ''">is_agree_terms,</if>
            <if test="agreeTime != null ">agree_time,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="pwNeedReset != null  and pwNeedReset != ''">pw_need_reset,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="createTime != null ">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="bankAccount != null  and bankAccount != ''">#{bankAccount},</if>
            <if test="bankAchCode != null  and bankAchCode != ''">#{bankAchCode},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="latitude != null ">#{latitude},</if>
            <if test="longitude != null ">#{longitude},</if>
            <if test="isAgreeTerms != null  and isAgreeTerms != ''">#{isAgreeTerms},</if>
            <if test="agreeTime != null ">#{agreeTime},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="pwNeedReset != null  and pwNeedReset != ''">#{pwNeedReset},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="createTime != null ">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateStoreInfo" parameterType="StoreInfo">
        update pro_store_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="bankAccount != null  and bankAccount != ''">bank_account = #{bankAccount},</if>
            <if test="bankAchCode != null  and bankAchCode != ''">bank_ach_code = #{bankAchCode},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="latitude != null ">latitude = #{latitude},</if>
            <if test="longitude != null ">longitude = #{longitude},</if>
            <if test="isAgreeTerms != null  and isAgreeTerms != ''">is_agree_terms = #{isAgreeTerms},</if>
            <if test="agreeTime != null ">agree_time = #{agreeTime},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="pwNeedReset != null  and pwNeedReset != ''">pw_need_reset = #{pwNeedReset},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteStoreInfoById" parameterType="Long">
        delete from pro_store_info where user_id = #{userId}
    </delete>

    <delete id="deleteStoreInfoByIds" parameterType="String">
        delete from pro_store_info where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

</mapper>